body{
    #container{
        header{
            max-width: 100%;
            width: 100%;
            nav{
                padding: 10px;
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: baseline;
                align-content: baseline;
                .pageLogo{
                    margin: 0px;
                    padding: 3px;
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    flex: 1;
                    a{
                        color: #3d3d3d;
                        text-decoration: none;
                    }
                }
                ul{
                    margin: 3px;
                    padding: 0px;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: baseline;
                    align-items: baseline;
                    flex: 0.3;
                    li{
                        a{
                            padding: 5px;
                            color: #3d3d3d;
                            text-decoration: none;
                            font-size: 0.9rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            border-radius: 6px;
                        }
                        :hover{
                            color: #ffffff;
                            background-color: #3d3d3d;
                            text-decoration: none;
                            font-size: 0.8rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }
                form{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 250px;
                    #searchBox{
                        margin: 2px;
                        padding: 6px;
                        width: 180px;
                        height: 20px;
                        border: 1px solid #b9b9b9;
                        border-radius: 6px;
                        outline: none;
                        color: #3d3d3d;
                    }
                    #searchButton{
                        margin: 2px;
                        padding: 6px;
                        border: none;
                        border-radius: 6px;
                        cursor: pointer;
                        img{
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* --- DESKTOP --- */
@media only screen and (min-width: 550px) {
    body{
        #container{
            header{
                nav{
                    .pageLogo{
                        margin: 0px 30px 0px 0px;
                        font-size: 1.4rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        a{
                            color: #3d3d3d;
                            text-decoration: none;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}