body{
    #container{
        main{
            .pokeCards{
                max-width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                a{
                    margin: 5px;
                    padding: 20px;
                    width: 29%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #ebebeb;
                    border-radius: 12px;
                    text-decoration: none;
                    color: #191919;
                article{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span{
                        font-size: 0.9rem;
                    }
                }}
            }
        }
    }
}