body{
    #container{
        main{
            .pokemonDetails{
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 100%;
                img{
                    width: 50%;
                    height: 50%;
                    border-radius: 12px;
                }
                .shortsContainer{
                    max-width: 100%;
                    .stats{
                        max-width: 100%;
                        table{
                            width: 100%;
                            tbody{
                                tr{
                                    font-size: 0.8rem;
                                    .statName{
                                        color: rgb(104, 104, 104);
                                        float: left;
                                    }
                                    .statValue{
                                        font-weight: bold;
                                        float: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .abilityDetails{
                width: 100%;
                h2{
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    article{
                        h3{
                            font-size: 0.8rem;
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }
    }
}

/* --- DESKTOP --- */
@media only screen and (min-width: 550px) {
body {
    #container{
        main{
            .pokemonDetails{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 100%;
                img{
                    max-width: 30%;
                    width: 30%;
                    height: 30%;
                }
                .shortsContainer{
                    max-width: 50%;
                    width: 50%;
                    .stats{
                        max-width: 100%;
                        table{
                            width: 10%0;
                        }
                    }
                }
            }
            .abilityDetails{
                width: 100%;
                h2{
                    font-size: 1.3rem;
                    article{
                        h3{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}
}